@model ProyectoInventario.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="container-detalles">
        <div class="seccion-titulo titulo-detalles">
            <div class="form-group">
                <input asp-for="Nombre" class="form-control text-center" />
            </div>
        </div>
        <div class="img-detalles">
            <img class="img-producto" src="@Url.ActionLink("MostrarImagen","Catalogo",new { id=Model.Id })"
                alt="@Html.DisplayFor(model => model.ImagenName)" />
        </div>
        <div class="edit-detalles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Imagen" />
            <input type="hidden" asp-for="ImagenName" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label text-center">Descripción</label>
                <textarea asp-for="Descripcion" class="form-control" cols="40" rows="4"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label text-center">Stock</label>
                <input asp-for="Stock" class="form-control" type="number" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: -2px;">
                <label asp-for="Imagen" class="control-label">Imagen</label>
            </div>
            <div class="form-group">
                <input type="file" id="real-file" hidden="hidden" asp-for="Imagen" name="upload"
                    accept="application/jpg" />
                <button type="button" id="custom-button">Cargar Imagen</button>
                <span id="custom-text">No selecciono ningun archivo.</span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="editar-btn">
                <input type="submit" value="Actualizar" class="btn btn-prim btn-completo" />
            </div>
        </div>
    </div>
</form>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

